 <footer>
    <nav class="round">
		<h3>Geneva Equestrian Contact Information:</h3>
		<table>
			<tr>
				<td class="tdtop">
					<strong>Email</strong>: <%= mail_to "GenevaEquestrian@msn.com", 
												"Email Geneva Equestrian", 
												:subject => "Email From Website" %>
					<br />
					<strong>Telephone:</strong> (262) 245-6490<br />
					<strong>Fax:</strong> (262) 245-6319
					<br /><br />
					<strong><%= mail_to "aamax@xmission.com", "Email WebMaster" %> 
			        Phone: (801) 502-4745</strong>
				</td>
				<td class="tdtop">
					<strong>Postal Address:</strong><br /> N3010 Hwy 67<br />
					Lake Geneva, WI 53147
				</td>
			</tr>
		</table>
    </nav>
  </footer>
